@keyframes loading {
    0% {opacity: 80%; color: black;}
    20% {opacity: 30%; color: black}
    50% {opacity: 80%;}
    80% {opacity: 30%; }
    100% {opacity: 100%; }   
}
@keyframes exitLoading {
    50%{opacity: 100%;}
    100%{opacity: 0%;}   
}
@keyframes screens {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
    
}

body{
    display:flex;
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}
/*styles all page*/

header{
    z-index: 3;
    position: fixed;
    font-weight: bold;
    font-size: 37px;
    line-height: 43px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    background-color: #EC412D;
    width: 100%;
    height: 69px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header h1{
    display: flex;
    align-items: center;
}

.loading{
   
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #E5EFF1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    animation-name: exitLoading;
    animation-duration: 3.5s;

}

.loading img{
    
    width: 180px;
  
}
.loading h1{
    font-weight: bold;
    animation-name: loading;
    animation-duration: 5s;
    color: #43a057;
}

/*styles first screen*/

.screen1 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 69px auto 0 auto;
    width: 340px;

    animation-name: screens;
    animation-duration: 1s;
}

.screen1 h1 {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.userQuizzesTitle {
    margin: 35px 0 14px 0;
    display: flex;
    align-items: center;
    width: 340px;
}

.userQuizzesTitle ion-icon {
    color: #EC362D;
    font-size: 30px;
}

.screen1 ion-icon:hover {
    cursor: pointer;
}

.userQuizzes {
    padding-bottom: 38px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 340px;
}

.noUserQuizzes {
    width: 340px;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dashed red;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 31px auto 38px auto;
}

.noUserQuizzes span:first-child {
    width: 250px;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    color: #B9B9B9;
}

.noUserQuizzes span:last-child {
    margin-top: 20px;
    width: 151px;
    height: 40px;
    font-size: 21px;
    line-height: 25px;
    color: #EC362D;
    border: 1px dashed #EC362D;
    box-sizing: border-box;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noUserQuizzes span:last-child:hover {
    cursor: pointer;
}

.allQuizzes {
    padding-top: 14px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1051px;
}

.quizz {
    position: relative;
    width: 340px;
    height: 181px;
    margin-bottom: 14px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%); 
}

.quizz img {
    width: 340px;
    height: 181px;
    object-fit: cover;
    border-radius: 5px;
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 120%);
}
.quizz span {
    position: absolute;
    display: flex;
    align-items: center;
    word-break: break-all;
    
    bottom: 7px;
    padding-left: 18px;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
}

.quizz div {
    position: absolute;
    top: 9px;
    right: 0;
    width: 43px;
    height: 87px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #EC362D;
    color: #FFFFFF;
    font-size: 30px;
    border-radius: 10px 0px 0px 11px;
    z-index: 2;
}

.quizz ion-icon:first-child {
    padding-left: 4px;
}

/*styles second screens*/

.screen2{
    
    margin-top: 65px;
    font-family: Roboto;
    font-style: normal;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    animation-name: screens;
    animation-duration: 1s;
    
}
.bottomBoxHeader{
    z-index: 2;
    width: 100%;
    height: 142px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 24px;
    text-align: center;
    color: #FFFFFF;
    
    contain: paint;
    background-color: rgb(16, 17, 17);
   
}
.bottomBoxHeader img{ 
    width: 100%;
    background-blend-mode: darken;
}
.bottomBoxHeader h1{
     z-index: 1;
    /*fonts*/
    font-style: normal;
    font-weight: bold;
    /*flex*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    /*margins*/
    width: 100%;
    height: 100%;
    /*colors*/
    background-color: rgba(0, 0, 0, 0.60);
    font-size: 4.1vw;
        
}

.options{
    margin-bottom: 40px;
}

.option-quizz-selected h1{ 
    /*fonts*/
    font-weight: bold;
    font-size: 5vw;
    /*flex*/
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    word-break: break-all;
    /*margins*/
    width: 100%;
    padding:10px 16px;
    /*colors*/
    color: #FFFFFF;
    background-color: #434CA0;
    
}
.option-quizz-selected{
    /*fonts*/
    font-family: Roboto;
    font-style: bold;
    /*flex*/
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    /*margins*/
    width: 375px;
    padding: 18px;
    margin-bottom: 50px;
    /*colors*/
    background-color: #FFFFFF;
}

figure{
    width: 45%;
    height: 100% ;
    
    padding-bottom: 4.5vw;
    margin-top: 3vw;  
}
figure img{
    border-radius: 2px; 
    width: 100%;
    height: 100%;
}
figure figcaption{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-bottom: 15px;
    word-break: break-all;
    font-size: 2.5vw;
    height: auto;
    
    
}

/*result*/
.boxResult{
    /*fonts*/
    font-family: Roboto;
    font-style: bold;
    /*flex*/
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    /*margins*/
    width: 375px;
    padding: 18px;
    margin-bottom: 50px;
    /*colors*/
    background-color: #FFFFFF;

}
.title-result{
    
    font-weight: bold;
    font-size: 23px;
    padding: 10px 5px;
    
    display: flex;
    align-items: center;
    word-break: break-all;
    text-align: center;
    color: #FFFFFF;
    background-color: #EC362D;
    width: 100%;
}
.boxResult img{
    width: 100%;
    height: 75%;
    
    padding-bottom: 10px;
    
    
}
.coments-result{
    font-weight: bold;
    font-size: 17px;
    
    display: flex;
    align-items: center;
    justify-content: start;
    
    word-break: break-all;
    color: #484848;
    
}
.returnOrReload{
    font-weight: normal;
    font-size: 18px;
    
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
  
}
.returnOrReload button:nth-child(1){
    font-weight: normal;
    font-size: 15px;
    
    border-radius: 8px;
    width: 120px;
    height: 30px;
    margin-bottom: 8px;
    border: none;
    color: #FFFFFF;
    background-color: #EC362D;
}
.returnOrReload button:nth-child(2){
    font-weight: normal;
    font-size: 15px;
    
    background-color: none;
    border-radius: 8px;
    border: none;
    width: 120px;
    margin-bottom: 20px;
    color: #818181;
    background-color: #E5E5E5;;
}

/*styles third screen*/
main {
    margin: 69px auto 0 auto;
}

.screen3 section {
    width: 324px;
}

button {
    font-family: inherit;
}

button:hover {
    cursor: pointer;
}

input {
    font-family: 'Roboto', sans-serif;
    margin-top: 9px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    width: 341px;
    height: 46px;
    font-size: 19px;
    line-height: 22px;
}

input::placeholder {
    font-size: 19px;
    line-height: 22px;
    font-style: italic;
    opacity: 0.6;
}

.minimized {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin-top: 22px;
    height: 74px;
    background-color: white;
}

.minimized:hover {
    cursor: pointer;
}
/* screen 3.1 - quizz creation start*/
.quizzCreationStart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizzCreationStart h1 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    padding: 37px 0 41px 0;
}

.quizzCreationStart button {
    margin: 56px 0 60px 0;
    width: 324px;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
    border: none;
}

/* screen 3.2 - quizz creation questions */
.quizzCreationQuestions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizzCreationQuestions div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizzCreationQuestions h1 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    padding: 37px 0 37px 0;
}

.quizzCreationQuestions h2 {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin: 19px 0 0 0;
}

.quizzCreationQuestions button {
    margin: 56px 0 60px 0;
    width: 324px;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
    border: none;
}

/* screen 3.3 - quizz creation levels */
.quizzCreationLevels {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.level {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizzCreationLevels h1 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    padding: 37px 0 37px 0;
}

.quizzCreationLevels h2 {
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin: 19px 0 0 0;
}

.quizzCreationLevels button {
    margin: 56px 0 60px 0;
    width: 324px;
    height: 54px;
    background: #EC362D;
    border-radius: 15px;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
    border: none;
}

/* screen 3.4 - quizz creation finish */
.quizzCreationFinished {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizzCreationFinished h1 {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    padding: 37px 0 37px 0;
}

.quizzCreationFinished button {
    margin: 24px 0 9px 0;
    width: 220.32px;
    height: 44px;
    background: #EC362D;
    border-radius: 15px;
    font-size: 18px;
    line-height: 21px;
    color: #FFF5F4;
    border: none;
}

.quizzCreationFinished button:last-child {
    margin: 0 0 60px 0;
    width: 220.32px;
    height: 44px;
    color: #818181;
    border-radius: 15px;
    font-size: 18px;
    line-height: 21px;
    background-color: white;
    border: none;
}

.quizzCreated {
    position: relative;
    width: 340px;
    height: 181px;
    margin-bottom: 14px;
}

.quizzCreated img {
    width: 340px;
    height: 181px;
    object-fit: cover;
    border-radius: 5px;
}

.quizzCreated span {
    position: absolute;
    bottom: 7px;
    left: 18px;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
}

/*utilities */
.wrong{
    color: #EC362D;
    pointer-events: none;
}
.correct{
    color: #43a057;
    pointer-events: none;
}

.opacity    {
    opacity: 30%;
    pointer-events: none;
}

.disabled{
    display: none;
}

@media (min-width: 1100px) {
    /* screen 1*/
    .screen1 {
        width: 1051px;
    }

    .userQuizzesTitle  {
        width: 1051px;
    }

    .userQuizzes {
        width: 1051px;
    }

    .noUserQuizzes {
        width: 1051px;
        margin: 31px auto 71px auto;
    }
    
    /* screen 2 */
    .bottomBoxHeader{
        height: 227px;
    }
    .option-quizz-selected{
        width: 759px;
        left: 50%;
    }

    .option-quizz-selected h1{ 
        font-size: 35px;
        /*flex*/
        height: 138px;
        width: 100%;
    }
    figure{
        width: 45%;
        height: 331.29px; 
    }
    
    figure figcaption{
        font-size: 30px; 
    }
    .boxResult{
     width: 759px;
     align-items: flex-start;
    }
    .boxResult img{
        max-width: 45%;
        padding-bottom: 10px;
        
        
    }

   .title-result{
    font-size: 30px ;
    height: 99px;
    width: 759px;
    }
    .coments-result{
        width: 51%;
        margin-left: 15px;
        margin-top: 15px;
    }
        
    
    .returnOrReload button:nth-child(1){
        width: 260px;
        height: 52px;
    }

    /* screen 3 - general changes */
    .screen3 h1 {
        font-size: 23px;
        line-height: 27px;
    }

    .screen3 input {
        width: 564px;
    }

    .screen3 button {
        font-size: 21px;
        line-height: 25px;
    }

    .screen3 section {
        width: 564px;
    }
    /* screen 3.4 - quizz created finish */
    .quizzCreated {
        width: 500px;
        height: 266px;
    }

    .quizzCreated img {
        width: 500px;
        height: 266px;
        object-fit: cover;
    }
}

